  
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar .link {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar .link:hover {
  color: #f1356d;
}
.link:hover{
  cursor: pointer;
}
.content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}


.complaint-preview {
  border-radius: 5px;
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
}
.complaint-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.complaint-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.posted {
  background-color: #f16b94;
}

.completed {
  background-color: #60ff68;
}

.processing {
  background-color: #f5ae5e;
}
.invalid_complaint{
  background-color: #745aeb;
}

.complaint-list {
  height: 600px;
  overflow: auto;
}
.complaint-details {
  height: 600px;
  overflow: auto;
  padding: 10px 16px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.split-container {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-gap: 20px;
}

.signin-form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
}