  
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  height: 97vh;
  font-family: "Quicksand";
  background-color: #5cdb95;
  position: relative;
}

.navbar {
  position: fixed;
  height: 30px;
  left: 0px;
  right: 0px;
  padding: 5px;
  display: flex;
  z-index: 1000;
  background-color: bisque;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar .link {
  margin:0 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar .link:hover {
  color: #f1356d;
}
.link:hover{
  cursor: pointer;
}

.content{
  position: absolute;
  top: 40px;
  height: calc(100vh - 40px);
  width: 100%;
}

.complaints-page {
  position: relative;
  display: flex;
}

.filter-options {
  background-color: #745aeb;
  padding: 5px;
  width: 100%;
  height: 30px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
}

.date-select {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #45da28;
  width: 300px;
}

.dropdown-content p {
  display: block;
  transform-origin: 0 0 0;
  top: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.complaints {
  position: fixed;
  top: 80px;
  bottom: 0px;
  width: 100%;
  display: flex;
}

.complaint-list-container {
  position: relative;
  height: calc(100vh - 80px);
  width: 250px;
}

.complaint-list {
  position: fixed;
  overflow: auto;
  top: 80px;
  bottom: 30px;
  width: 250px;
}

.bottom-nav {
  position: absolute;
  height: 30px;
  bottom: 0px;
}

.complaint-container {
  position: relative;
  display: flex;
}

.comp-2 {
  height: calc(100vh - 80px);
  width: calc(100vw - 250px);
  display: flex;
  flex-direction: column;
}

.complaint-status {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.complaint-details {
  display: flex;
  justify-content: space-evenly;
}

.complaint-img {
  display: flex;
  flex-direction: column;
}

.complaint-preview {
  border-radius: 5px;
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  background-color:aquamarine;
}
.complaint-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.complaint-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.feedback {
  background-color: #f2f2f2;
  margin: 3px;
  border-radius: 5px;
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  display: grid;
  grid-template-columns: 1fr 10fr 3fr;
}

.Pending-transmission {
  background-color: #f16b94;
}

.Work-completed {
  background-color: #60ff68;
}

.Work-in-progress {
  background-color: #f5ae5e;
}
.Work-is-pending{
  background-color: #745aeb;
}

.Closed-with-due-justification{
  background-color: cadetblue;
}

.feedback-page {
  position: relative;
  height: 750px;
  overflow: auto;
}

.feedback-list {
  position: absolute;
  top: 40px;
}

.split-container-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.split-container-1-1-1 {
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.signin-form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
}

/* modal styles */
 .backdrop{
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
} 