  
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  /* height: 97vh; */
  font-family:sans-serif;
  background-color: #fff;
  /* position: relative; */
}

.loader {
 padding: 20px;
 color: #e74818;
 font-weight: bold;
}

button {
  background-color: #cfcfcf;
  color: #5d001e;
  height: 30px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px black;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

button:hover {
  /* box-shadow: 0 12px 16px 0 rgba(197, 21, 21, 0.24), 0 17px 50px 0 rgba(218, 15, 15, 0.19); */
  cursor: pointer;
  color:rgb(255, 255, 255);
  background-color: #ff0000;
}

select{
  border: none;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px black;
  color: #5d001e;
}

textarea {
  border: none;
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px black;
  color: #5d001e;
}

textarea::placeholder {
    color: #333;
}

.react-icons {
  vertical-align: middle;
}

.navbar {
  position: fixed;
  height: 30px;
  left: 0px;
  right: 0px;
  padding: 5px;
  display: flex;
  z-index: 1000;
  background-color: #d1d1d1;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #999999;
  /* box-shadow: 0 8px 16px 0 rgba(140, 186, 207, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
.navbar h1 {
  color: #7574c5;
}
.navbar .links {
  margin-left: auto;
}
.navbar .link {
  margin:0 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar .link:hover {
  color: #ee4c72;
}
.link:hover{
  cursor: pointer;
}

.content{
  /* position: absolute; */
  top: 50px;
  /* height: calc(100vh - 50px); */
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
}

.complaints-page {
  position: relative;
  display: flex;
}

.top-bar {
  padding: 5px;
  top: 55px;
  left: 5px;
  right: 5px;
  height: 30px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.complaint-filter{
  /* margin-left: 10px; */
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 5px 10px;
}

.date-select {
  display: flex;
  box-shadow: 1px 1px 1px 1px black;
}

.id-filter{
  display: flex;
}

.id-filter input{
  box-shadow: 1px 1px 1px 1px black;
}

.id-filter button{
  border-radius: 0;
}

.complaint-filter p{
  padding: 5px;
  background-color: #e3e2df;
}

.filter-button{
  height: 30px;
  background-color: #e3e2df;
  color: #333;
  border-radius: 0;
}

.filter-button:hover{
  cursor: default;
  box-shadow: none;
}

.complaint-filter input{
  height: 20px;
  padding: 3px;
  display: inline;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  background-color: #e3e2df;
  border: 2px solid #6e6e6e;
  
}

.dropdown {
  margin: 0 10px;
  position: relative;
  display: inline-block;
}

.dropdown button{
  border: 2px solid #a1a1a1;
}

.dropdown button:hover{
  border: 2px solid #4b4b4b;
  background-color: #a3a3a3;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e3e2df;
  width: 230px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #e3afbc;
}

.dropdown-content p {
  background-color: #e3e2df;
  padding-top: 5px;
  display: flex;
  align-items: center;
  transform-origin: 0 0 0;
  top: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.complaints {
  position: fixed;
  top: 90px;
  bottom: 0px;
  width: 100%;
  display: flex;
}

.complaint-list-container {
  background-color: #e3e2df;
  border-radius: 10px;
  margin: 20px 0px 20px 20px;
  position: relative;
  height: calc(100vh - 130px);
  width: 280px;
  display: flex;
  justify-content: space-evenly;
}

.complaint-list {
  position: absolute;
  overflow: auto;
  top: 0px;
  bottom: 50px;
  width: 250px;
  padding: 5px 5px 0 5px;
}

.bottom-nav {
  position: absolute;
  height: 30px;
  bottom: 0px;
  width: 230px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-nav button{
  border-radius: 0;
  padding: 2.5px 2px;
  height: 25px;
  width: 50px;
}

.bottom-nav select{
  padding: 2.5px;
  height: 25px;
}

.complaint-container {
  width: calc(100vw - 300px);
  height: calc(100vh - 130px);
  margin: 20px 10px 20px 20px;
  position: relative;
  display: flex;
  background-color: #eeeeee;
  border-radius: 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid #cccccc;
  box-shadow: 1px 3px 5px  rgba(0,0,0,0.1);
  overflow-y: auto;
}

.complaint-cont-2 {
  width: calc(100vw - 331.2px);
  display: flex;
  flex-direction: column;
}

.complaint-cont-2 h2{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #b9b9b9;
  border-bottom: 1px solid rgb(170, 170, 170);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  color: #5d001e;
}

.complaint-cont-2 p{
  font-weight: bold;
  color: #333;
}

.complaint-status {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
}

.complaint-status div{
  display: flex;
}

.complaint-status select{
  padding: 5px;
  margin: 5px;
}

.complaint-status p{
  display: flex;
  align-items: center;
}

.complaint-details {
  display: flex;
  justify-content: flex-start;
  padding: 0px 30px;
}

.complaint-description {
  height: fit-content;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.complaint-description p{
  margin: 2px;
  padding: 4px;
  /* background-color: #e3afbc; */
  display: inline;
}

.complaint-img {
  display: flex;
  flex-direction: column;
}

.complaint-preview {
  border-radius: 5px;
  padding: 10px 16px;
  border-bottom: 1px solid #777777;
  border-right: 1px solid #777777;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.complaint-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.complaint-preview p {
  font-weight: bold;
  color: #5d001e;
  overflow: hidden;
}
.complaint-preview:hover{
  background-color: #ee4c72;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.complaint-preview:hover > p{
  color:rgb(0, 0, 0)
}

.Pending-transmission {
  /* background-color: #f16b94; */
  color: #d12d5e;
  font-weight: bold;
}

.Work-completed {
  /* background-color: #60ff68; */
  color: #74c23d;
  font-weight: bold;
}

.Work-in-progress {
  /* background-color: #f5ae5e; */
  color: #f88d13;
  font-weight: bold;
}
.Work-is-pending{
  /* background-color: #745aeb; */
  color: #f5ae5e;
  font-weight: bold;
}

.Closed-with-due-justification{
  /* background-color: cadetblue; */
  color: rgb(29, 159, 163);
  font-weight: bold;
}

.feedback-page {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.feedback-list {
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feedback-filter{
  padding: 5px;
  left: 50px;
  right: 150px;
  height: 30px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.feedback-filter button {
  background-color: #e3e2df;
  border-radius: 0;
  height: 30px;
  color: #333;
}

.feedback-filter button:hover {
  box-shadow: none;
}

.feedback-filter input {
  background-color: #8f8f8f;
  border: 2px solid #7e7e7e;
  height: 25px;
}

.feedback-filter select{
  height: 30px;
  background-color: #e3e2df;
  color: #333;
}

.feedback {
  background-color: #e3e2df;
  margin: 3px;
  border-radius: 5px;
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  display: flex;
  flex-direction: column;
}


.split-container-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.split-container-1-1-1 {
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.signin-form {
  margin: 60px auto;
  width: max-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.signin-form input{
  padding: 5px;
  margin: 10px;
  width: 300px;
}

.signin-form button{
  padding: auto;
  width: 150px;
  margin: 10px;
}

/* modal styles */
 .backdrop{
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1001;
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
} 

@media screen and (max-width: 1130px) {
  .top-bar {
    flex-direction: column;
    height: 80px;
  }

  .complaints {
    top: 140px;
  }
  .complaint-list-container, .complaint-container {
    height: calc(100vh - 180px);
  }
}

@media screen and (max-width: 980px) {
  .top-bar {
    height: 125px;
  }

  .complaint-filter {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
  }

  .date-select{
    height: min-content;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .id-filter {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .complaints {
    top: 185px;
  }

  .complaint-list-container, .complaint-container {
    height: calc(100vh - 225px);
  }
  
  .complaint-status {
    flex-direction: column;
  }

  .complaint-details {
    flex-direction: column;
  }

  .complaint-description {
    width: 100%;
  }

}

@media screen and (max-height: 450px) {
  .top-bar {
    position: absolute;
    z-index: 500;
  }
  .complaints {
    position: relative;
    height: fit-content;
  }
  .complaint-list-container {
    height: 500px;
  }
  .complaint-container {
    height: 500px;
  }
}

@media screen and (max-width: 700px) {
  .top-bar {
    position: absolute;
    z-index: 500;
  }

  .complaints {
    position: relative;
    height: fit-content;
    flex-direction: column;
    align-items: center;
  }
  
  .complaint-list-container {
    position: relative;
    width: calc(100vw - 50px);
    height: 180px;
  }

  .complaint-list {
    width: calc(100vw - 70px);
    height: 140px;
    display: flex;
    flex-direction: row;
  }

  .complaint-container, .complaint-cont-2 {
    position: relative;
    width: calc(100vw - 50px);
    height: fit-content;
  }
  
}

@media screen and (max-width: 570px) {
  .top-bar {
    height: 145px;
  }
  
  .complaint-filter {
    height: 100px;
    grid-template-columns: 1fr 1fr;
  }

  .date-select, .id-filter{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .complaints {
    top: 205px;
  }

}

@media screen and (max-width: 400px){
  .top-bar {
    height: 210px;
  }

  .complaint-filter {
    height: 165px;
  }

  .date-select {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .complaints {
    top: 270px;
  }

  .dropdown {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  
}